page-profile {
    .image-slide {
        width: 700px;
        height: 200px;
      }

      .segment{
        background-color: dimgray;
        color: white;
        height: 9%;
        margin-top: 2px;
        padding: 10px 15px;
        margin-bottom: 5px;
      }
}
