page-detailproduk {

    .image-size1 {
        width: 200px;
        height: 150px;
      }

    .color1 {
        background-color: #178d7d
    } 

    .image {
        padding:20px;
        border:5px solid #424649;
        margin:0 10px 10px 0;
        float:center;
        text-align:center;
     }
}
